* {
  box-sizing: border-box;
}

html {
  /* 10px if the browser was 16px*/
  /* 1rem === 10px @ medium browser settings */
  font-size: 62.5%;
}

.App {
  display: flex;
  height: 900px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 3px solid red;
}

.App-title {
  text-align: center;
  font-size: 4.0rem;
  border: 1px solid blue;
  margin: 10px 0;
}

.App-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 75%;
  height: 350px;
  border: 1px solid green;
}

.App-content h2 {
  font-size: 3.2rem;
  border: 1px solid orange;
  margin: 20px 0;
}

.container-recipient {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid darkviolet;
  margin-bottom: 30px;
}

.label-recipient {
  font-size: 1.8rem;
  border: 1px solid yellow;
  margin-right: 10px;
}

.input-recipient {
  width: 30%;
  font-size: 1.6rem;
  height: 35px;
  border-radius: 5px;
  padding-left: 10px;
  border: 1px solid hotpink;
}

.container-message {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100px;
  border: 1px solid brown;
}

.label-message {
  font-size: 1.8rem;
  margin-right: 10px;
  border: 1px solid orangered;
}

.text-area-message {
  font-size: 1.6rem;
  width: 50%;
  height: 100px;
  border-radius: 5px;
  padding-left: 10px;
  padding-top: 5px;
  border: 1px solid black;
}

.send-button {
  width: 25%;
  border-radius: 20px;
  height: 30px;
  font-size: 1.8rem;
  font-weight: bolder;
  margin: auto 0;
}

.send-button:hover {
  cursor: pointer;
  color: white;
  background-color: blue;
  border: 3px solid yellow;
}
