* {
  box-sizing: border-box;
}

html {
  /* 10px if the browser was 16px*/
  /* 1rem === 10px @ medium browser settings */
  font-size: 62.5%;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid red;
}

.welcome-title {
  border: 1px solid blue;
}
